<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% load staticfiles %}
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
</head>

<body>
<!--================================================here is the message block=======================================================-->
<div class="container-fluid" >
    <!--行政区划代码表-->
    <div id="adminisareatoolbar" class="btn-group table-control tool-control">
        <button type="button" class="btn btn-default" id="adminisareaadd">    <!--data-target="#myModal" data-toggle="modal"-->
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button" class="btn btn-default" id="adminisareaedit">
            <i class="glyphicon glyphicon-edit"></i>
        </button>
        <button type="button" class="btn btn-default" id="adminisareadelete">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
    <!--   ================================================the table======================================================== -->
    <div class="col-md-12 table-control" style="margin-left:-3%; margin-top: -2%"; id="table">
        <table data-toggle="table" id="adminisareaTable" data-height="520" data-pagination="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-toolbar="#adminisareatoolbar" sort-name=stargazers_count" sort-order='asc'>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>  <!--col-md-10-->
    <div class="row" style="display: none;" id="adminisareaaddpanel">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title" id="changepanel">行政区划代码添加</h4>
                </div>
                <form id="adminisareaform" method="post">
                    <div id="validateform">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group hidden">
                                        <label for="AdminisAreaID">行政区划ID</label>
                                        <input type="text" class="form-control " id="AdminisAreaID" name="adminisareaid"  style="width:90%"  disabled="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="AdminisAreaCode">行政区划代码</label>
                                        <input type="text" class="form-control" id="AdminisAreaCode" name="adminisareacode" placeholder="AdminisAreaCode" style="width:90%" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="AdminisAreaProvince">行政区划省</label>
                                        <input type="text" class="form-control" id="AdminisAreaProvince" name="adminisareaprovince"  placeholder="AdminisAreaName" style="width:90%" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="AdminisAreaCity">行政区划市</label>
                                        <input type="text" class="form-control" id="AdminisAreaCity" name="adminisareacity"  placeholder="AdminisAreaName" style="width:90%" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="AdminisAreaCounty">行政区划区/县</label>
                                        <input type="text" class="form-control" id="AdminisAreaCounty" name="adminisareacounty"  placeholder="AdminisAreaName" style="width:90%" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="AdminisAreaRemarks">行政区划备注</label>
                                        <textarea cols="8" rows="2" class="form-control" id="AdminisAreaRemarks" name="adminisarearemarks" style="width:90%"  required></textarea>
                                    </div>
                                </div> <!--cil-md-5 -->
                            </div>  <!--row-->
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-1 col-md-offset-10 col-lg-offset-10 col-lg-1">
                                    <button type="button" class="btn btn-default" style="margin-top:5px" id="cancel">取消</button>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success" style="margin-top:5px" id="doit" value="type">创建</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>  <!--col-md-10-->
    </div> <!--row-->
</div>  <!--container-fluid-->



<!--=========================================here is the js file================================================================-->
{% load staticfiles %}
<script src="{% static "login/static/js/start.js" %}"></script>
<script>
    var rowcontent = null;
    var tag=null;
    $('#adminisareaadd').click(function(){
        tag = "add";
        $('.table-control').css('display','none');
        $('#adminisareaaddpanel').css('display','block');
        document.getElementById("AdminisAreaCode").focus();
    });

    $("form").submit(function(e){
        e.preventDefault();
    });

    //点击编辑按钮，把获取到的json 填充到添加界面中
  $('#adminisareaedit').click(function(){
      tag = "edit";
      var jsonobject = eval('('+ rowcontent +')');

      $('#AdminisAreaID').val(jsonobject.adminisareaid);
      $('#AdminisAreaCode').val(jsonobject.adminisareacode);
      $('#AdminisAreaProvince').val(jsonobject.adminisareaprovince);
      $('#AdminisAreaCity').val(jsonobject.adminisareacity);
      $('#AdminisAreaCounty').val(jsonobject.adminisareacounty);
      $('#AdminisAreaRemarks').val(jsonobject.adminisarearemarks);

      $('#toolbar').css('display','none');
      $('#table').css('display','none');
      $('#adminisareaaddpanel').css('display','block');
      document.getElementById("AdminisAreaCode").focus();
      $('#changepanel').html("行政区划编辑");
      $('#doit').html("确定");
  });
    $('#adminisareaTable').on('check.bs.table', function(e,row){
    rowcontent = JSON.stringify(row);  //把json对象解析成string对象
  });

    $('#cancel').click(function(){
       turnPage('back/dashboard/objectiveinfo/adminisarea.html');
    });
    $('#doit').click(function(){
        var jsonobject = eval('('+ rowcontent +')');
        var jsonobj1 = {};
        var jsonObject = $('#adminisareaform').serializeArray();
        $.each(jsonObject, function(){
            if(jsonobj1[this.name]){
                if(!jsonobj1.push){
                    jsonobj1[this.name] = [jsonobj1[this.name]];
                }
                jsonobj1[this.name].push(this.value || '');
            }else{
                jsonobj1[this.name] = this.value || '';
            }
        });
        if(tag == "add"){
             $.ajax({
                async:false,
                type: "post",
                dataType:'json',
                data:jsonobj1,
                url:baseAddress+'/tbadminisarea/',
                success:function(data){
                    turnPage('back/dashboard/objectiveinfo/adminisarea.html');
                },
                error:function(json){
                    alert ("插入失败");
                    $('.table-control').css('display','none');
                    $('#adminisareaaddpanel').css('display','block');
                }
            });
        }else{
            $.ajax({
                async:false,
                type: "put",
                dataType:'json',
                data:jsonobj1,
                url: baseAddress+'/tbadminisarea/'+jsonobject.adminisareaid+"/",
                success:function(data){
                    turnPage('back/dashboard/objectiveinfo/adminisarea.html');
                },
                error:function(json){
                    alert ("修改失败");
                    $('.table-control').css('display','none');
                    $('#adminisareaaddpanel').css('display','block');
                }
            });
        }
    });
    $('#adminisareadelete').click(function(){
            var jsonobject = eval('('+ rowcontent +')');
             //确认是否删除
           if(confirm("是否删除此条信息？")) {
               $.ajax({
                   type: 'delete',
                   url:baseAddress+'/tbadminisarea/'+jsonobject.adminisareaid+"/",
                   success: function (json) {
                       turnPage('back/dashboard/objectiveinfo/adminisarea.html');
                   }
               })
           }
       });
   $('#validateform').bootstrapValidator({
      excluded: ':disabled',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },

      fields: {
          adminisareacode: {
              validators: {
                  regexp: {
                      regexp: /^[1-9][0-9]{0,5}$/,
                      message: '限制六位数字'
                  }
              }
          },
          adminisareaprovince: {
              validators: {
                  stringLength: {
                      max: 50,
                      message: '限制在50个字符以内'
                  }
              }
          },
          adminisareacity: {
              validators: {
                  stringLength: {
                      max: 50,
                      message: '限制在50个字符以内'
                  }
              }
          },
          adminisareacounty: {
              validators: {
                  stringLength: {
                      max: 50,
                      message: '限制在50个字符以内'
                  }
              }
          },
          adminisarearemarks: {
              validators: {
                  stringLength: {
                      max: 100,
                      message: '限制在100个字符以内'
                  }
              }
          }
      }
    });
</script>
</body>
</html>


